body{
    
}
img{
    max-width: 100px;
    max-height: auto;
}
.header{
    display: flex;
    justify-content: space-between;
}


.logo{
    display: flex;
    margin: 42px;
    padding: 16px;   
}

.links{
    display: flex;
    margin: 42px;
    padding: 16px;
}