.container1{
    display: flex;
    flex-direction: column;
    background-color: #1f2937  ;
    color: #f9FAf8;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 80px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937  ;
    color: #f9FAf8;
    
}

.logo{
    display: flex;
    /* margin: 60px; */
    padding: 16px;   
    max-width: 100px;
    max-height: 100px;
}


.middle{
    display: flex;
    gap: 60px;
    /* margin-left: 60px;
    margin-right: 60px; */
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9FAf8;
}

.text{
    display: flex;
    /* flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px; */
    font-family: 'roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}




.links{
    display: flex;
    margin: 60px;
    padding: 16px;
    gap: 40px;
}

.button{
    background-color:#3882f6 ;
    color: #f9FAf8;
    padding: 8px 35px;
    border-radius: 8px;
    align-self: flex-start;
    font-size: 18px;
    font-family: 'roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

.temp {
    display: flex;
    background-color: paleturquoise;
    padding: 100px 200px;
    border-radius: 8px;
    

}

.text.bigtext{
   max-width: 570px;
   font-size: 48px;
   font-weight: bolder;
   margin: 0;
}


.subtext{
    margin: 0;
    font-size: 18px;
}

.container2{
    display: flex;
    flex-direction: column;
    background-color: #f9FAf8  ;
    color: #1f2937;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 80px;
    margin-top: 30px;
}

.text.majormid{
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: 30px ;
    font-size: 36px;
    font-weight: bolder;
}

.box{

    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;


}
.box1, .box2, .box3, .box4{
    display: flex;
    flex-direction: column;
    padding: 80px;
    border-radius: 15px;
    border: 5px solid #3882f6;
}


.info{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.infosubtext{
    display: flex;
    font-size: 18px;
    max-width: 185px;
}

.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:80px ;
    background-color: #e5e7eb;
    
}
.quote{
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  max-width: 1000px;  
}

.source{
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    font-size: 24px;
    font-weight: bold;
}

.container4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;

}

.actionbox{
    display: flex;
    border-radius:10px ;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 50px 150px;
    gap:100px

}

.infoaction{
    display:flex ;
    flex-direction: column;
}
.actionbutton{
    border:3px solid #f9FAf8;
    padding: 5px 30px;
    color: #f9FAf8;
    background-color: #3882f6;
    border-radius: 10px;

}
.action, .actionsub{
    color: #f9FAf8;
}

.action{
   font-size: 24px; 
   font-weight: bold;
}

.acttion{
    font-size: 18px;
}